#easy_tooltip
{
	Z-INDEX: 10000;
	BORDER-BOTTOM: #efcfd1 1px solid;
	BORDER-LEFT: #efcfd1 1px solid;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	BACKGROUND: #006400;
	COLOR: #ffffff;
	BORDER-TOP: #efcfd1 1px solid;
	BORDER-RIGHT: #efcfd1 1px solid;
	PADDING-TOP: 1px;
}
*
{
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
BODY
{
    BACKGROUND-IMAGE: url(../images/bg.gif);
    BACKGROUND-COLOR: #336600;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-POSITION: center top;
    COLOR: green;
    FONT-SIZE: 11px
}
A
{
    OUTLINE-STYLE: none;
    OUTLINE-COLOR: invert;
    OUTLINE-WIDTH: medium;
    COLOR: #666666;
    TEXT-DECORATION: none
}
A IMG
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-TOP: medium none;
    BORDER-RIGHT: medium none
}
.clear
{
    CLEAR: both
}
.bold
{
    FONT-WEIGHT: bold
}
.colr
{
    COLOR: #892d33 !important
}
.colr2
{
    COLOR: #fff !important
}
.black
{
    COLOR: #000
}
H1
{
    FONT-SIZE: 22px;
    FONT-WEIGHT: normal
}
H2
{
    FONT-SIZE: 20px;
    FONT-WEIGHT: normal
}
H3
{
    FONT-SIZE: 18px;
    FONT-WEIGHT: normal
}
H4
{
    FONT-SIZE: 22px;
    FONT-WEIGHT: normal
}
.subhead
{
    MARGIN-TOP: 20px;
    WIDTH: 100%;
    FLOAT: left
}
H5
{
    COLOR: #892d33;
    FONT-SIZE: 18px;
    FONT-WEIGHT: normal
}
H6
{
    COLOR: #892d33;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal
}
P
{
    LINE-HEIGHT: 18px
}
.heading
{
    BORDER-BOTTOM: #dddddd 1px solid;
    PADDING-BOTTOM: 8px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    MARGIN-BOTTOM: 10px;
    COLOR: #892d33;
    PADDING-TOP: 10px
}
.garis
{
    BORDER-BOTTOM: #ccc 1px dotted;
    WIDTH: 100%
}
INPUT
{
    FONT-SIZE: 11px
}
.cartbtn
{
    BACKGROUND-IMAGE: url(../images/cart.gif);
    BORDER-BOTTOM: #003780 1px solid;
    BORDER-LEFT: #003780 1px solid;
    PADDING-BOTTOM: 3px;
    BACKGROUND-COLOR: #892d33;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 32px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 75px 3px;
    COLOR: #abccea;
    BORDER-TOP: #003780 1px solid;
    BORDER-RIGHT: #003780 1px solid;
    PADDING-TOP: 3px
}
.cartbtn:hover
{
    BACKGROUND-COLOR: #003780;
    COLOR: #fff
}
A.simplebtn
{
    BACKGROUND-IMAGE: url(../images/btn.gif);
    BORDER-BOTTOM: #511a1f 1px solid;
    BORDER-LEFT: #511a1f 1px solid;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #521a1f;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: inline-block;
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 16px;
    COLOR: #fff;
    BORDER-TOP: #511a1f 1px solid;
    CURSOR: pointer;
    BORDER-RIGHT: #511a1f 1px solid;
    PADDING-TOP: 2px
}
A.simplebtn:hover
{
    BACKGROUND-IMAGE: none;
    BACKGROUND-COLOR: #511a1f;
    COLOR: #fff
}
INPUT.simplebtn
{
    BACKGROUND-IMAGE: url(../images/btn.gif);
    BORDER-BOTTOM: #511a1f 1px solid;
    BORDER-LEFT: #511a1f 1px solid;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #521a1f;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: inline-block;
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 25px;
    COLOR: #fff;
    BORDER-TOP: #511a1f 1px solid;
    CURSOR: pointer;
    BORDER-RIGHT: #511a1f 1px solid;
    PADDING-TOP: 0px
}
INPUT.simplebtn:hover
{
    BACKGROUND-IMAGE: none;
    BACKGROUND-COLOR: #511a1f;
    COLOR: #fff
}
.proceed
{
    BACKGROUND-IMAGE: url(../images/proceed.gif);
    BORDER-BOTTOM: #a0a0a0 1px solid;
    BORDER-LEFT: #a0a0a0 1px solid;
    PADDING-BOTTOM: 3px;
    BACKGROUND-COLOR: #b2b2b2;
    MARGIN: 5px 0px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px;
    DISPLAY: inline-block;
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 20px;
    COLOR: #fff;
    BORDER-TOP: #a0a0a0 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #a0a0a0 1px solid;
    PADDING-TOP: 6px
}
.proceed:hover
{
    BORDER-BOTTOM: #999 1px solid;
    BORDER-LEFT: #999 1px solid;
    COLOR: #666;
    BORDER-TOP: #999 1px solid;
    BORDER-RIGHT: #999 1px solid
}
#wrapper_sec
{
    BACKGROUND-IMAGE: url(../images/wrapper.png);
    PADDING-BOTTOM: 0px;
    MARGIN: 15px auto;
    PADDING-LEFT: 10px;
    WIDTH: 940px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 0px
}
#head
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    WIDTH: 940px;
    PADDING-RIGHT: 0px;
    HEIGHT: 120px;
    PADDING-TOP: 0px
}
.logo
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 15px;
    FLOAT: left;
    PADDING-TOP: 30px
}
.rightnavi
{
    FLOAT: right
}
.rightnavi P
{
    MARGIN: 20px 0px 0px;
    COLOR: #fff
}
.rightnavi UL
{
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 45px;
    PADDING-RIGHT: 15px;
    FLOAT: left;
    COLOR: #fff;
    FONT-SIZE: 12px
}
.rightnavi UL LI
{
    BACKGROUND-IMAGE: url(../images/sep.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    FLOAT: left;
    HEIGHT: 22px;
    COLOR: #fff;
    PADDING-TOP: 17px
}
.rightnavi UL LI:hover
{
    BACKGROUND-COLOR: #000
}
.rightnavi UL LI.last
{
    BACKGROUND-IMAGE: none
}
.rightnavi UL LI A
{
    COLOR: #fff
}
.rightnavi UL LI A:hover
{
    COLOR: #fff
}
#crumb
{
    BACKGROUND-IMAGE: url(../images/breadcrumb_bg.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    WIDTH: 920px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    FLOAT: left;
    HEIGHT: 42px;
    COLOR: #892d33;
    PADDING-TOP: 0px
}
#crumb UL.left
{
    BACKGROUND-IMAGE: url(../images/home.gif);
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    FLOAT: left;
    COLOR: #892d33;
    PADDING-TOP: 5px
}
#crumb UL.left2
{
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    FLOAT: left;
    COLOR: #892d33;
    PADDING-TOP: 16px
}
#crumb UL.left LI
{
    FLOAT: left;
    HEIGHT: 42px;
    COLOR: #892d33
}
#crumb UL LI A
{
    BACKGROUND-IMAGE: url(../images/sep1.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 0px 15px;
    FLOAT: left;
    HEIGHT: 42px;
    COLOR: #000;
    PADDING-TOP: 12px
}
#crumb UL LI P
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    HEIGHT: 42px;
    COLOR: #000;
    PADDING-TOP: 10px
}
UL.search
{
    BACKGROUND-IMAGE: url(../images/search.gif);
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 10px;
    WIDTH: 275px;
    BACKGROUND-REPEAT: no-repeat;
    FLOAT: right;
    HEIGHT: 24px
}
UL.search LI
{
    FLOAT: left
}
UL.search LI INPUT.bar
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: transparent;
    MARGIN-TOP: 2px;
    PADDING-LEFT: 5px;
    WIDTH: 241px;
    PADDING-RIGHT: 5px;
    FLOAT: left;
    HEIGHT: 20px;
    COLOR: #666;
    BORDER-TOP: medium none;
    BORDER-RIGHT: medium none;
    PADDING-TOP: 2px
}
UL.search LI INPUT.go
{
    BACKGROUND-IMAGE: url(../images/go.gif);
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BACKGROUND-COLOR: transparent;
    MARGIN-TOP: 1px;
    WIDTH: 22px;
    BACKGROUND-REPEAT: no-repeat;
    FLOAT: left;
    HEIGHT: 22px;
    BORDER-TOP: medium none;
    CURSOR: pointer;
    BORDER-RIGHT: medium none
}
.rotating_banner
{
    FLOAT: left
}
.top_curve
{
    BACKGROUND-IMAGE: url(../images/top_curve.png);
    MARGIN-TOP: 10px;
    WIDTH: 940px;
    BACKGROUND-REPEAT: no-repeat;
    FLOAT: left;
    HEIGHT: 9px
}
.botm_curve
{
    BACKGROUND-IMAGE: url(../images/botm_curve.png);
    WIDTH: 940px;
    BACKGROUND-REPEAT: no-repeat;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    HEIGHT: 48px
}
.botm_curve_ws
{
    BACKGROUND-IMAGE: url(../images/botm_curve_ws.png);
    WIDTH: 940px;
    BACKGROUND-REPEAT: no-repeat;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    HEIGHT: 48px
}
#content_sec
{
    BACKGROUND-COLOR: #fff;
    WIDTH: 940px
}
.noback
{
    BACKGROUND-IMAGE: none !important
}
.col1
{
    BACKGROUND-IMAGE: url(../images/top_bg.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 15px;
    WIDTH: 670px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right top;
    FLOAT: left;
    PADDING-TOP: 0px
}
.listing
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 20px
}
.listing UL
{
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 10px;
    WIDTH: 100%;
    FLOAT: left
}
.listing UL LI
{
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    WIDTH: 207px;
    PADDING-RIGHT: 0px;
    MARGIN-BOTTOM: 20px;
    FLOAT: left;
    MARGIN-RIGHT: 32px;
    PADDING-TOP: 10px
}
.listing UL LI.last
{
    MARGIN-RIGHT: 0px
}
.listing UL LI A.thumb
{
    BORDER-BOTTOM: #e4e4e4 2px solid;
    BORDER-LEFT: #e4e4e4 2px solid;
    WIDTH: 201px;
    FLOAT: left;
    HEIGHT: 177px;
    BORDER-TOP: #e4e4e4 2px solid;
    BORDER-RIGHT: #e4e4e4 2px solid
}
.listing UL LI A.thumb IMG
{
    WIDTH: 201px;
    HEIGHT: 177px
}
.listing UL LI A.title
{
    COLOR: #892d33
}
.listing UL LI H6
{
    MARGIN-BOTTOM: 10px
}
.listing UL LI P
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 3px;
    FLOAT: right;
    FONT-SIZE: 14px;
    PADDING-TOP: 8px
}
.listing UL LI A.addtocartbtn
{
    BACKGROUND-IMAGE: url(../images/cart.gif);
    BORDER-BOTTOM: #e4e4e4 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #e4e4e4 1px solid;
    PADDING-BOTTOM: 4px;
    BACKGROUND-COLOR: #f8f8f8;
    MARGIN-TOP: 5px;
    PADDING-LEFT: 30px;
    PADDING-RIGHT: 10px;
    DISPLAY: inline-block;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 5px 5px;
    FLOAT: left;
    COLOR: #666666;
    BORDER-TOP: #e4e4e4 1px solid;
    BORDER-RIGHT: #e4e4e4 1px solid;
    PADDING-TOP: 4px
}
.listing UL LI A.addtocart:hover
{
    COLOR: #000
}
.f_list
{
    BORDER-BOTTOM: #e4e4e4 3px solid;
    BORDER-LEFT: #e4e4e4 3px solid;
    BORDER-TOP: #e4e4e4 3px solid;
    BORDER-RIGHT: #e4e4e4 3px solid
}
.f_list IMG
{
    WIDTH: 681px;
    HEIGHT: 213px
}
A.addwish
{
    BACKGROUND-IMAGE: url(../images/add_wish.gif);
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 10px;
    DISPLAY: inline-block;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    PADDING-TOP: 3px
}
.col2
{
    MARGIN: 10px 15px 0px 0px;
    WIDTH: 220px;
    FLOAT: right
}
.col2 .small_heading
{
    PADDING-BOTTOM: 17px;
    PADDING-LEFT: 0px;
    WIDTH: 218px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 0px
}
.col2 A.bigbtn
{
    BACKGROUND-IMAGE: url(../images/bigbtn.gif);
    TEXT-ALIGN: center;
    MARGIN: 10px 0px;
    WIDTH: 200px;
    DISPLAY: inline-block;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    FLOAT: left;
    HEIGHT: 21px;
    COLOR: #777777;
    FONT-SIZE: 12px;
    PADDING-TOP: 6px
}
.myaccount
{
    BACKGROUND-IMAGE: url(../images/right_sec_bg.gif);
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 100px;
    PADDING-LEFT: 10px;
    WIDTH: 198px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 50% top;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-TOP: 0px
}
.myaccount H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 7px
}
.myaccount UL
{
    PADDING-BOTTOM: 7px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 10px;
    WIDTH: 180px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    PADDING-TOP: 7px
}
.myaccount UL LI
{
    BACKGROUND-IMAGE: url(../images/crumb_sep.gif);
    BORDER-BOTTOM: #e1e1e1 1px solid;
    PADDING-BOTTOM: 7px;
    PADDING-LEFT: 15px;
    WIDTH: 165px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    PADDING-TOP: 7px
}
.myaccount UL LI A
{
    COLOR: #666;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
.myaccount UL LI A:hover
{
    COLOR: #892d33;
    FONT-WEIGHT: bold
}
.myaccount UL LI A.selected
{
    FONT-WEIGHT: bold
}
.mycart
{
    BACKGROUND-IMAGE: url(../images/right_sec_bg.gif);
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 100px;
    PADDING-LEFT: 10px;
    WIDTH: 198px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 50% top;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-TOP: 0px
}
.mycart H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 7px
}
.mycart .right
{
    PADDING-TOP: 7px
}
.mycart .left
{
    PADDING-TOP: 7px
}
.mycart .right A
{
    TEXT-DECORATION: underline
}
.mycart UL
{
    LIST-STYLE-TYPE: none;
    FLOAT: left
}
.mycart UL LI
{
    BORDER-BOTTOM: #e3e3e3 1px dotted;
    WIDTH: 200px;
    FLOAT: left
}
.mycart P.title
{
    WIDTH: 180px
}
.compareproducts
{
    BACKGROUND-IMAGE: url(../images/right_sec_bg.gif);
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 100px;
    PADDING-LEFT: 10px;
    WIDTH: 198px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 50% top;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-TOP: 0px
}
.compareproducts H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 7px
}
.compareproducts UL
{
    LIST-STYLE-TYPE: none;
    FLOAT: left
}
.compareproducts UL LI
{
    BORDER-BOTTOM: #e3e3e3 1px dotted;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 200px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 5px
}
.compareproducts UL LI .title
{
    WIDTH: 180px
}
.compareproducts UL LI .right
{
    PADDING-TOP: 3px
}
.poll
{
    BACKGROUND-IMAGE: url(../images/right_sec_bg.gif);
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 100px;
    PADDING-LEFT: 10px;
    WIDTH: 198px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 50% top;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-TOP: 0px
}
.poll H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 7px
}
.poll P
{
    PADDING-BOTTOM: 7px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 7px
}
.poll UL
{
    BORDER-BOTTOM: #d8d8d8 1px solid;
    PADDING-BOTTOM: 15px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 10px;
    WIDTH: 180px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    BORDER-TOP: #d8d8d8 1px solid;
    PADDING-TOP: 15px
}
.poll UL LI
{
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 10px;
    WIDTH: 160px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    PADDING-TOP: 2px
}
.poll UL LI INPUT
{
    FLOAT: left;
    MARGIN-RIGHT: 10px
}
.poll A.vote
{
    PADDING-BOTTOM: 3px;
    BACKGROUND-COLOR: #892d33;
    MARGIN: 10px 0px 0px 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 3px
}
.poll A.vote:hover
{
    BACKGROUND-COLOR: #511a1f;
    COLOR: #fff
}
.shopby
{
    BACKGROUND-IMAGE: url(../images/right_sec_bg.gif);
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 100px;
    PADDING-LEFT: 10px;
    WIDTH: 198px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 50% top;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-TOP: 0px
}
.shopby H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 7px
}
.shopby H6.head
{
    PADDING-BOTTOM: 0px;
    BACKGROUND-COLOR: #747474;
    PADDING-LEFT: 10px;
    WIDTH: 180px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 7px
}
.shopby H6.options
{
    BACKGROUND-IMAGE: url(../images/sep4.gif);
    BORDER-BOTTOM: #892d33 1px solid;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 0px;
    WIDTH: 200px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% bottom;
    FLOAT: left;
    COLOR: #892d33;
    PADDING-TOP: 7px
}
.shopby UL
{
    PADDING-BOTTOM: 7px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    WIDTH: 200px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 7px
}
.shopby UL LI
{
    BORDER-BOTTOM: #9a9a9a 1px dotted;
    PADDING-BOTTOM: 7px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    WIDTH: 200px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 7px
}
.shopby UL LI A
{
    COLOR: #9a9a9a
}
.tags
{
    BACKGROUND-IMAGE: url(../images/right_sec_bg.gif);
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 100px;
    PADDING-LEFT: 10px;
    WIDTH: 198px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 50% top;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-TOP: 0px
}
.tags H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 7px
}
.tags UL
{
    PADDING-BOTTOM: 20px;
    LIST-STYLE-TYPE: none;
    MIN-HEIGHT: 100px;
    PADDING-LEFT: 0px;
    WIDTH: 180px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 20px
}
.tags UL LI
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    FLOAT: left;
    PADDING-TOP: 0px
}
.tags UL LI A
{
    FLOAT: left
}
.tags UL LI A.twelv
{
    FONT-SIZE: 12px
}
.tags UL LI A.ten
{
    FONT-SIZE: 10px
}
.tags UL LI A.sixteen
{
    FONT-SIZE: 16px
}
.tags UL LI A.fourteen
{
    FONT-SIZE: 14px
}
.tags UL LI A.eightn
{
    FONT-SIZE: 18px
}
.newsletter
{
    BACKGROUND-IMAGE: url(../images/right_sec_bg.gif);
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 100px;
    PADDING-LEFT: 10px;
    WIDTH: 198px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 50% top;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-TOP: 0px
}
.newsletter H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 7px
}
.newsletter P
{
    PADDING-BOTTOM: 7px;
    PADDING-LEFT: 0px;
    WIDTH: 200px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 7px
}
.newsletter UL
{
    PADDING-BOTTOM: 15px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    WIDTH: 200px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 7px
}
.newsletter UL LI INPUT.bar
{
    BACKGROUND-IMAGE: url(../images/inputbar.gif);
    BORDER-BOTTOM: #cfcfcf 1px solid;
    BORDER-LEFT: #cfcfcf 1px solid;
    BACKGROUND-COLOR: #fff;
    WIDTH: 195px;
    BACKGROUND-REPEAT: repeat-x;
    MARGIN-BOTTOM: 6px;
    HEIGHT: 23px;
    BORDER-TOP: #cfcfcf 1px solid;
    BORDER-RIGHT: #cfcfcf 1px solid
}
.newsletter UL LI INPUT.subs
{
}
.adv
{
    WIDTH: 220px;
    MARGIN-BOTTOM: 10px;
    OVERFLOW: hidden
}
.col3
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 920px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 10px
}
.prod_detail
{
    WIDTH: 686px;
    FLOAT: left
}
.prod_detail .big_thumb
{
    WIDTH: 240px;
    FLOAT: left
}
.prod_detail .desc
{
    WIDTH: 376px;
    FLOAT: right
}
.prod_detail .desc A.email
{
    BACKGROUND-IMAGE: url(../images/email.gif);
    PADDING-LEFT: 20px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    FONT-WEIGHT: bold
}
.margn
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 12px
}
.addtocart
{
    BORDER-BOTTOM: #e3e3e3 1px solid;
    BORDER-LEFT: #e3e3e3 1px solid;
    PADDING-BOTTOM: 10px;
    MARGIN-TOP: 10px;
    PADDING-LEFT: 5px;
    WIDTH: 364px;
    PADDING-RIGHT: 5px;
    FLOAT: left;
    BORDER-TOP: #e3e3e3 1px solid;
    BORDER-RIGHT: #e3e3e3 1px solid;
    PADDING-TOP: 10px
}
.addtocart H6
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 6px
}
.addtocart UL.forms
{
    PADDING-LEFT: 0px;
    WIDTH: 364px
}
.addtocart UL.forms LI.txt
{
    PADDING-LEFT: 20px;
    WIDTH: 80px
}
.addtocart UL.forms LI.inputfield SELECT
{
    WIDTH: 220px
}
.addtocart UL.qt
{
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    BORDER-TOP: #e3e3e3 1px solid;
    PADDING-TOP: 10px
}
.addtocart UL.qt LI
{
    FLOAT: left;
    MARGIN-RIGHT: 10px
}
.addtocart UL.qt LI.qty
{
    PADDING-LEFT: 20px;
    WIDTH: 30px;
    PADDING-TOP: 2px
}
.addtocart UL.qt LI INPUT.bar
{
    BACKGROUND-IMAGE: url(../images/inputbar.gif);
    BORDER-BOTTOM: #d0d0d0 1px solid;
    BORDER-LEFT: #d0d0d0 1px solid;
    BACKGROUND-COLOR: #fff;
    WIDTH: 45px;
    BACKGROUND-REPEAT: repeat-x;
    FLOAT: left;
    HEIGHT: 21px;
    BORDER-TOP: #d0d0d0 1px solid;
    BORDER-RIGHT: #d0d0d0 1px solid
}
.quickreview
{
    BORDER-BOTTOM: #dddddd 1px solid;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px 0px 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.qheading
{
    BORDER-BOTTOM: #dddddd 1px solid;
    MARGIN-BOTTOM: 10px;
    COLOR: #892d33;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}
.quickreview H5
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 0px
}
.quickreview H4.price
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 10px
}
.quickreview P.avail
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 10px
}
.quickreview P
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.prod_desc
{
    PADDING-BOTTOM: 20px;
    MARGIN-TOP: 20px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    BORDER-TOP: #cecece 1px solid;
    PADDING-TOP: 20px
}
.prod_desc H6.bar
{
    MARGIN-BOTTOM: 10px
}
.aditional_info
{
    BACKGROUND-IMAGE: url(../images/cont_bg.gif);
    WIDTH: 686px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% bottom;
    FLOAT: left
}
.aditional_info H6
{
    BACKGROUND-IMAGE: url(../images/top_curve_big.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    WIDTH: 676px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% top;
    HEIGHT: 24px;
    PADDING-TOP: 10px
}
.aditional_info UL
{
    BORDER-BOTTOM: #ccc 1px solid;
    PADDING-BOTTOM: 10px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 10px;
    WIDTH: 666px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    PADDING-TOP: 10px
}
.aditional_info UL.last
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-TOP: medium none;
    BORDER-RIGHT: medium none
}
.aditional_info UL LI
{
    FLOAT: left
}
.aditional_info UL LI.title
{
    WIDTH: 210px;
    FLOAT: left
}
.aditional_info UL LI.desc
{
    WIDTH: 456px;
    FLOAT: left
}
.tags_big
{
    BACKGROUND-IMAGE: url(../images/cont_bg.gif);
    MARGIN-TOP: 10px;
    WIDTH: 686px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% bottom;
    FLOAT: left
}
.tags_big H6
{
    BACKGROUND-IMAGE: url(../images/top_curve_big.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    WIDTH: 676px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% top;
    HEIGHT: 24px;
    PADDING-TOP: 10px
}
.tags_big P
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 666px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 10px
}
.tags_big UL
{
    PADDING-BOTTOM: 10px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 10px
}
.tags_big UL LI
{
    BACKGROUND-IMAGE: url(../images/sep.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    PADDING-TOP: 0px
}
.tags_big UL LI.last
{
    BACKGROUND: none transparent scroll repeat 0% 0%
}
.tags_big INPUT.bar
{
    BORDER-BOTTOM: #adadad 1px solid;
    BORDER-LEFT: #adadad 1px solid;
    PADDING-BOTTOM: 5px;
    BACKGROUND-COLOR: #fafafa;
    MARGIN: 5px 0px 10px 10px;
    PADDING-LEFT: 5px;
    WIDTH: 190px;
    PADDING-RIGHT: 5px;
    FLOAT: left;
    HEIGHT: 14px;
    BORDER-TOP: #adadad 1px solid;
    BORDER-RIGHT: #adadad 1px solid;
    PADDING-TOP: 5px
}
.tags_big INPUT.simplebtn
{
    MARGIN: 0px 0px 10px 10px
}
.cont_sec
{
    WIDTH: 686px
}
.cont_sec P
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 666px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 10px
}
.cont_sec H6
{
    BACKGROUND-IMAGE: url(../images/top_curve_big.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    WIDTH: 676px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% top;
    PADDING-TOP: 10px
}
UL.addicons
{
    PADDING-BOTTOM: 15px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 5px
}
UL.addicons LI
{
    BACKGROUND-IMAGE: url(../images/add.gif);
    PADDING-LEFT: 20px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    FLOAT: left;
    MARGIN-RIGHT: 35px
}
.contact
{
    WIDTH: 686px;
    MARGIN-BOTTOM: 20px;
    FLOAT: left
}
.mapsec
{
    WIDTH: 336px;
    FLOAT: left
}
.mapsec H6
{
    PADDING-BOTTOM: 10px;
    MARGIN-TOP: 10px
}
.mapsec P
{
    WIDTH: 300px;
    FLOAT: left
}
.map
{
    MARGIN-TOP: 20px;
    FLOAT: left
}
.map IFRAME
{
    BORDER-BOTTOM: #000 1px solid
}
.map A.enlarg
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #333;
    FONT-WEIGHT: bold;
    PADDING-TOP: 5px
}
.contact_form
{
    WIDTH: 280px;
    FLOAT: right
}
.contact_form H6
{
    PADDING-BOTTOM: 10px;
    MARGIN-TOP: 10px
}
.contact_form UL
{
    LIST-STYLE-TYPE: none;
    FLOAT: left
}
.contact_form UL LI
{
    MARGIN-BOTTOM: 5px
}
.contact_form INPUT.bar
{
    BACKGROUND-IMAGE: url(../images/bar.gif);
    BORDER-BOTTOM: #dddddd 1px solid;
    BORDER-LEFT: #dddddd 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    WIDTH: 269px;
    PADDING-RIGHT: 5px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    HEIGHT: 24px;
    FONT-SIZE: 11px;
    BORDER-TOP: #dddddd 1px solid;
    BORDER-RIGHT: #dddddd 1px solid;
    PADDING-TOP: 0px
}
.contact_form TEXTAREA
{
    BACKGROUND-IMAGE: url(../images/textarea.gif);
    BORDER-BOTTOM: #dddddd 1px solid;
    BORDER-LEFT: #dddddd 1px solid;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    WIDTH: 269px;
    PADDING-RIGHT: 5px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-POSITION: left 50%;
    HEIGHT: 154px;
    FONT-SIZE: 11px;
    BORDER-TOP: #dddddd 1px solid;
    BORDER-RIGHT: #dddddd 1px solid;
    PADDING-TOP: 5px
}
.error
{
    COLOR: #f00
}
.seccess
{
    COLOR: #090
}
.sorting
{
    BACKGROUND-IMAGE: url(../images/gray_sort.gif);
    MARGIN: 7px 0px;
    WIDTH: 686px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 0px 25px;
    FLOAT: left
}
.sorting P
{
    PADDING-TOP: 5px
}
.sorting UL
{
    LIST-STYLE-TYPE: none;
    FLOAT: left
}
.sorting UL LI
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    HEIGHT: 23px;
    PADDING-TOP: 4px
}
.sorting UL LI.last
{
    BORDER-RIGHT: medium none
}
.sorting UL LI.text
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    HEIGHT: 21px;
    PADDING-TOP: 6px
}
.shoppingcart
{
    WIDTH: 670px;
    FLOAT: left
}
.shoppingcart UL.tablehead
{
    BORDER-BOTTOM: #cecece 1px solid;
    BORDER-LEFT: #cecece 1px solid;
    LIST-STYLE-TYPE: none;
    WIDTH: 670px;
    FLOAT: left;
    BORDER-TOP: #cecece 1px solid;
    BORDER-RIGHT: #cecece 1px solid
}
.shoppingcart UL.tablehead LI
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FLOAT: left;
    HEIGHT: 18px !important;
    COLOR: #892d33;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}
.shoppingcart UL LI.nomor
{
    BACKGROUND-IMAGE: url(../images/shopping_sep.gif);
    TEXT-ALIGN: center;
    WIDTH: 36px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    HEIGHT: 88px
}
.shoppingcart UL LI.remove
{
    BACKGROUND-IMAGE: url(../images/shopping_sep.gif);
    TEXT-ALIGN: center;
    WIDTH: 53px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    HEIGHT: 88px
}
.shoppingcart UL LI.thumb
{
    BACKGROUND-IMAGE: url(../images/shopping_sep.gif);
    TEXT-ALIGN: center;
    WIDTH: 168px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    HEIGHT: 88px
}
.shoppingcart UL LI.title
{
    BACKGROUND-IMAGE: url(../images/shopping_sep.gif);
    TEXT-ALIGN: center;
    PADDING-LEFT: 10px;
    WIDTH: 122px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    HEIGHT: 88px
}
.shoppingcart UL LI.price
{
    BACKGROUND-IMAGE: url(../images/shopping_sep.gif);
    TEXT-ALIGN: center;
    WIDTH: 63px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    HEIGHT: 88px
}
.shoppingcart UL LI.berat
{
    BACKGROUND-IMAGE: url(../images/shopping_sep.gif);
    TEXT-ALIGN: center;
    WIDTH: 80px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    HEIGHT: 88px
}
.shoppingcart UL LI.qty
{
    BACKGROUND-IMAGE: url(../images/shopping_sep.gif);
    TEXT-ALIGN: center;
    WIDTH: 50px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    HEIGHT: 88px
}
.shoppingcart UL LI.qty INPUT
{
    BORDER-BOTTOM: #d5d5d5 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #d5d5d5 1px solid;
    BACKGROUND-COLOR: #fafafa;
    WIDTH: 25px;
    HEIGHT: 25px;
    BORDER-TOP: #d5d5d5 1px solid;
    BORDER-RIGHT: #d5d5d5 1px solid
}
.shoppingcart UL LI.total
{
    BACKGROUND-IMAGE: url(../images/cart_bg.gif);
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    WIDTH: 88px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% top;
    FLOAT: left;
    HEIGHT: 88px;
    PADDING-TOP: 0px
}
.shoppingcart UL.cartlist
{
    BACKGROUND-IMAGE: url(../images/cart_bg.gif);
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    WIDTH: 670px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% top;
    FLOAT: left;
    HEIGHT: 88px;
    PADDING-TOP: 0px
}
.shoppingcart UL.cartlist LI
{
    FLOAT: left;
    PADDING-TOP: 0px
}
.shoppingcart UL.cartlist LI.txt
{
    PADDING-TOP: 20px
}
.btns
{
    BORDER-BOTTOM: #d7d7d7 1px solid;
    PADDING-BOTTOM: 15px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 15px
}
.btns UL
{
    LIST-STYLE-TYPE: none
}
.left
{
    FLOAT: left !important
}
.right
{
    FLOAT: right !important
}
.center
{
    PADDING-LEFT: 200px;
    FLOAT: left !important
}
.sections
{
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 0px;
    WIDTH: 920px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 20px
}
.centersec
{
    MARGIN: 0px 43px;
    WIDTH: 280px;
    FLOAT: left
}
.cartitems
{
    BORDER-BOTTOM: #dbdbdb 1px solid;
    BORDER-LEFT: #dbdbdb 1px solid;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 244px;
    PADDING-RIGHT: 10px;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #dbdbdb 1px solid;
    BORDER-RIGHT: #dbdbdb 1px solid;
    PADDING-TOP: 10px
}
.cartitems H6
{
    WIDTH: 244px;
    FLOAT: left
}
.cartitems H6 SPAN
{
    PADDING-BOTTOM: 5px
}
.cartitems UL
{
    LIST-STYLE-TYPE: none;
    FLOAT: left
}
.cartitems UL LI
{
    BORDER-BOTTOM: #dbdbdb 1px solid;
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 0px;
    WIDTH: 244px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 20px
}
.cartitems UL LI .thumb
{
    WIDTH: 88px;
    FLOAT: left;
    HEIGHT: 99px;
    MARGIN-RIGHT: 5px
}
.cartitems UL LI .thumb IMG
{
    WIDTH: 88px;
    HEIGHT: 99px
}
.cartitems UL LI .desc
{
    WIDTH: 125px;
    FLOAT: left
}
.cartitems UL LI .desc A.title
{
    WIDTH: 125px;
    MARGIN-BOTTOM: 5px;
    FLOAT: left
}
.cartitems UL LI .desc P
{
    WIDTH: 125px;
    MARGIN-BOTTOM: 5px
}
.discount
{
    BORDER-BOTTOM: #dbdbdb 1px solid;
    BORDER-LEFT: #dbdbdb 1px solid;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 258px;
    PADDING-RIGHT: 10px;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #dbdbdb 1px solid;
    BORDER-RIGHT: #dbdbdb 1px solid;
    PADDING-TOP: 10px
}
.discount H6
{
    WIDTH: 258px;
    FLOAT: left
}
.discount H6 SPAN
{
    PADDING-BOTTOM: 5px
}
.discount P
{
    WIDTH: 258px;
    FLOAT: left;
    PADDING-TOP: 5px
}
.discount UL
{
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 10px;
    WIDTH: 258px;
    FLOAT: left
}
.discount UL LI
{
    PADDING-BOTTOM: 5px;
    WIDTH: 258px;
    FLOAT: left
}
.discount UL LI INPUT.bar
{
    BORDER-BOTTOM: #a0a0a0 1px solid;
    BORDER-LEFT: #a0a0a0 1px solid;
    BACKGROUND-COLOR: #fff;
    WIDTH: 235px;
    FLOAT: left;
    HEIGHT: 24px;
    BORDER-TOP: #a0a0a0 1px solid;
    BORDER-RIGHT: #a0a0a0 1px solid
}
.estimate
{
    BORDER-BOTTOM: #dbdbdb 1px solid;
    BORDER-LEFT: #dbdbdb 1px solid;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 258px;
    PADDING-RIGHT: 10px;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #dbdbdb 1px solid;
    BORDER-RIGHT: #dbdbdb 1px solid;
    PADDING-TOP: 10px
}
.estimate H6
{
    WIDTH: 258px;
    FLOAT: left
}
.estimate H6 SPAN
{
    PADDING-BOTTOM: 5px
}
.estimate P
{
    WIDTH: 258px;
    FLOAT: left;
    PADDING-TOP: 5px
}
.estimate UL
{
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 10px;
    WIDTH: 258px;
    FLOAT: left
}
.estimate UL LI
{
    PADDING-BOTTOM: 5px;
    WIDTH: 258px;
    FLOAT: left
}
.estimate UL LI INPUT.bar
{
    BORDER-BOTTOM: #a0a0a0 1px solid;
    BORDER-LEFT: #a0a0a0 1px solid;
    BACKGROUND-COLOR: #fff;
    WIDTH: 235px;
    FLOAT: left;
    HEIGHT: 24px;
    BORDER-TOP: #a0a0a0 1px solid;
    BORDER-RIGHT: #a0a0a0 1px solid
}
.estimate UL LI SELECT.bar
{
    BORDER-BOTTOM: #a0a0a0 1px solid;
    BORDER-LEFT: #a0a0a0 1px solid;
    BACKGROUND-COLOR: #fff;
    WIDTH: 235px;
    FLOAT: left;
    HEIGHT: 24px;
    BORDER-TOP: #a0a0a0 1px solid;
    BORDER-RIGHT: #a0a0a0 1px solid
}
.grand_total
{
    BORDER-BOTTOM: #dbdbdb 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #dbdbdb 1px solid;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 265px;
    PADDING-RIGHT: 10px;
    MARGIN-BOTTOM: 10px;
    FLOAT: left;
    BORDER-TOP: #dbdbdb 1px solid;
    BORDER-RIGHT: #dbdbdb 1px solid;
    PADDING-TOP: 10px
}
.grand_total H5
{
    FONT-WEIGHT: bold
}
.grand_total UL.line
{
    BORDER-BOTTOM: #dadada 1px solid;
    WIDTH: 100%
}
.grand_total UL
{
    LIST-STYLE-TYPE: none;
    MARGIN-BOTTOM: 5px;
    FLOAT: left
}
.grand_total UL LI
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FLOAT: left
}
.grand_total UL LI.title
{
    TEXT-ALIGN: right;
    WIDTH: 100px !important
}
.grand_total UL LI.price
{
    TEXT-ALIGN: right;
    WIDTH: 80px !important
}
.sections .inner
{
    BACKGROUND-IMAGE: url(../images/botm_acount_curve.gif);
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 50% bottom;
    HEIGHT: 210px;
    PADDING-TOP: 10px
}
.custmr_banner
{
    BORDER-BOTTOM: #f3f3f3 3px solid;
    BORDER-LEFT: #f3f3f3 3px solid;
    WIDTH: 441px;
    FLOAT: left;
    BORDER-TOP: #f3f3f3 3px solid;
    MARGIN-RIGHT: 27px;
    BORDER-RIGHT: #f3f3f3 3px solid
}
.newcustmr H6
{
    BACKGROUND-IMAGE: url(../images/new_cus.gif);
    BORDER-BOTTOM: #dbdbdb 1px solid;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 24px;
    WIDTH: 400px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 0px 0px;
    FLOAT: left;
    FONT-WEIGHT: bold;
    PADDING-TOP: 3px
}
.newcustmr P
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    WIDTH: 424px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 10px
}
.registerdcustmr
{
    BACKGROUND-IMAGE: url(../images/custm_bg.gif);
    BORDER-BOTTOM: #f3f3f3 3px solid;
    BORDER-LEFT: #f3f3f3 3px solid;
    PADDING-BOTTOM: 50px;
    WIDTH: 440px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 50% bottom;
    FLOAT: right;
    BORDER-TOP: #f3f3f3 3px solid;
    BORDER-RIGHT: #f3f3f3 3px solid
}
.registerdcustmr H6
{
    BACKGROUND-IMAGE: url(../images/login_bg.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    WIDTH: 430px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: 0px 0px;
    FLOAT: left;
    HEIGHT: 23px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 8px
}
.registerdcustmr P
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 410px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    PADDING-TOP: 10px
}
.registerdcustmr UL.mar
{
    MARGIN-TOP: 40px
}
.registerdcustmr UL LI A
{
    MARGIN-TOP: 5px;
    FLOAT: left
}
.account
{
    WIDTH: 686px;
    FLOAT: left
}
.account_title
{
    WIDTH: 686px;
    FLOAT: left
}
.account_title H6
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    WIDTH: 686px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 20px
}
.account_title P
{
    WIDTH: 686px;
    FLOAT: left
}
UL.acount_navi
{
    BACKGROUND-IMAGE: url(../images/gray_bg.gif) !important;
    LIST-STYLE-TYPE: none;
    WIDTH: 100%;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-POSITION: left top;
    FLOAT: left;
    HEIGHT: 27px
}
UL.acount_navi LI
{
    BACKGROUND-IMAGE: url(../images/gray_sep.gif);
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right top;
    FLOAT: left
}
UL.acount_navi LI A
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: inline-block;
    HEIGHT: 14px;
    COLOR: #000;
    BORDER-TOP: transparent 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: transparent 1px solid;
    PADDING-TOP: 5px
}
UL.acount_navi LI A.selected
{
    BACKGROUND-IMAGE: url(../images/account_rol.gif);
    BORDER-BOTTOM: #c9c9c9 1px solid;
    BORDER-LEFT: #c9c9c9 1px solid;
    BACKGROUND-REPEAT: repeat-x;
    BORDER-TOP: #c9c9c9 1px solid;
    BORDER-RIGHT: #c9c9c9 1px solid
}
UL.acount_navi LI A:hover
{
    BACKGROUND-IMAGE: url(../images/account_rol.gif);
    BORDER-BOTTOM: #c9c9c9 1px solid;
    BORDER-LEFT: #c9c9c9 1px solid;
    BACKGROUND-REPEAT: repeat-x;
    BORDER-TOP: #c9c9c9 1px solid;
    BORDER-RIGHT: #c9c9c9 1px solid
}
.acount_info
{
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 0px;
    WIDTH: 686px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 20px
}
H6.bar
{
    BACKGROUND-IMAGE: url(../images/bar.gif);
    BORDER-BOTTOM: #e2e2e2 1px solid;
    BORDER-LEFT: #e2e2e2 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    WIDTH: 666px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    MARGIN-BOTTOM: 20px;
    FLOAT: left;
    HEIGHT: 20px;
    BORDER-TOP: #e2e2e2 1px solid;
    BORDER-RIGHT: #e2e2e2 1px solid;
    PADDING-TOP: 10px
}
.small_sec
{
    BORDER-BOTTOM: #f3f3f3 2px solid;
    BORDER-LEFT: #f3f3f3 2px solid;
    MIN-HEIGHT: 132px;
    WIDTH: 332px;
    MARGIN-BOTTOM: 15px;
    BORDER-TOP: #f3f3f3 2px solid;
    BORDER-RIGHT: #f3f3f3 2px solid
}
.small_sec .content
{
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 80px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    FLOAT: left;
    PADDING-TOP: 10px
}
.small_sec .content P
{
    PADDING-BOTTOM: 5px;
    WIDTH: 100%;
    FLOAT: left
}
.small_sec .headng
{
    BACKGROUND-IMAGE: url(../images/headng.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    WIDTH: 312px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: repeat-x;
    FLOAT: left;
    HEIGHT: 22px;
    PADDING-TOP: 9px
}
.small_sec .headng H6
{
    FLOAT: left
}
.big_sec
{
    WIDTH: 686px
}
.big_sec .headng
{
    BORDER-BOTTOM: #e2e2e2 1px solid;
    PADDING-BOTTOM: 5px;
    MARGIN: 20px 0px;
    PADDING-LEFT: 0px;
    WIDTH: 686px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 5px
}
.big_sec .headng H6
{
    FLOAT: left
}
.static
{
    WIDTH: 920px;
    FLOAT: left
}
A.bordrs
{
    BORDER-BOTTOM: #c9c9c9 1px solid;
    BORDER-LEFT: #c9c9c9 1px solid;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    FLOAT: left;
    BORDER-TOP: #c9c9c9 1px solid;
    BORDER-RIGHT: #c9c9c9 1px solid;
    PADDING-TOP: 3px
}
.static H1
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    WIDTH: 920px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #666666;
    PADDING-TOP: 10px
}
.static H2
{
    PADDING-BOTTOM: 8px;
    PADDING-LEFT: 0px;
    WIDTH: 920px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #666666;
    PADDING-TOP: 8px
}
.static H3
{
    PADDING-BOTTOM: 6px;
    PADDING-LEFT: 0px;
    WIDTH: 920px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #666666;
    PADDING-TOP: 6px
}
.static H4
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 920px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #666666;
    PADDING-TOP: 5px
}
.static H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 920px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #666666;
    PADDING-TOP: 5px
}
.static H5 SPAN
{
    PADDING-BOTTOM: 10px
}
.static H6
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 920px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #666666;
    PADDING-TOP: 5px
}
.static H5
{
    PADDING-BOTTOM: 5px;
    LINE-HEIGHT: 24px;
    PADDING-LEFT: 0px;
    WIDTH: 920px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #666666;
    PADDING-TOP: 5px
}
.static UL.imgs
{
    PADDING-BOTTOM: 10px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 5px
}
.static UL.imgs LI
{
    FLOAT: left;
    MARGIN-RIGHT: 10px
}
.static .sec1
{
    MARGIN-TOP: 20px;
    WIDTH: 282px;
    FLOAT: left;
    MARGIN-RIGHT: 30px
}
.static .sec1 P
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    WIDTH: 282px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 0px
}
.static .sec1 A.bordrs
{
    MARGIN-BOTTOM: 10px
}
.static .sec2
{
    MARGIN-TOP: 20px;
    WIDTH: 282px;
    FLOAT: left;
    MARGIN-RIGHT: 30px
}
.static .sec2 P
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    WIDTH: 282px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 0px
}
.static .sec2 A.bordrs
{
    MARGIN-BOTTOM: 10px
}
.static .sec3
{
    MARGIN-TOP: 20px;
    WIDTH: 282px;
    FLOAT: left
}
.static .sec3 P
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    WIDTH: 282px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 0px
}
.static .sec3 A.bordrs
{
    MARGIN-BOTTOM: 10px
}
.static UL.number
{
    LIST-STYLE-TYPE: decimal;
    WIDTH: 100%;
    FLOAT: left
}
.static UL.number LI
{
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 4px
}
.bigsec
{
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 20px
}
.bigsec A.left
{
    MARGIN: 0px 20px 10px 0px
}
.grayborder
{
    MARGIN: 10px 0px;
    WIDTH: 100%;
    HEIGHT: 1px;
    OVERFLOW: hidden;
    BORDER-TOP: #e1e1e1 1px solid
}
.static OL
{
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 30px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 20px
}
UL.radio
{
    PADDING-BOTTOM: 15px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 15px
}
UL.radio LI
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px
}
UL.radio LI INPUT
{
    FLOAT: left;
    MARGIN-RIGHT: 7px
}
UL.forms
{
    PADDING-BOTTOM: 10px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px;
    FLOAT: left;
    PADDING-TOP: 0px
}
UL.forms LI
{
    FLOAT: left
}
UL.forms LI.txt
{
    WIDTH: 120px;
    FLOAT: left;
    COLOR: #000;
    PADDING-TOP: 3px
}
.req
{
    COLOR: #f00
}
UL.forms LI.inputfield
{
    FLOAT: left
}
UL.forms LI.inputfield INPUT
{
    BACKGROUND-IMAGE: url(../images/inputbar.gif);
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-BOTTOM: 0px;
    BACKGROUND-COLOR: #fff;
    PADDING-LEFT: 5px;
    WIDTH: 229px;
    PADDING-RIGHT: 5px;
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 20px;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-TOP: 0px
}
UL.forms LI.inputfield2 INPUT
{
    BACKGROUND-IMAGE: url(../images/inputbar.gif);
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-BOTTOM: 0px;
    BACKGROUND-COLOR: #fff;
    PADDING-LEFT: 5px;
    WIDTH: 310px;
    PADDING-RIGHT: 5px;
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 120px;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-TOP: 0px
}
UL.forms LI.inputfield SELECT
{
    BACKGROUND-IMAGE: url(../images/inputbar.gif);
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 241px;
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 20px;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}
UL.forms LI.textfield
{
    FLOAT: left
}
UL.forms LI.textfield TEXTAREA
{
    BACKGROUND-IMAGE: url(../images/inputbar.gif);
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    WIDTH: 340px;
    PADDING-RIGHT: 5px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    HEIGHT: 110px;
    FONT-SIZE: 11px;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-TOP: 5px
}
UL.forms LI.radiobtn
{
    FLOAT: left
}
UL.forms LI.radiobtn INPUT
{
    MARGIN: 0px 10px;
    FLOAT: left
}
UL.forms LI.radiobtn .labletxt
{
    MARGIN: 0px 20px 0px 0px;
    FLOAT: left
}
.featured
{
    BACKGROUND-IMAGE: url(../images/featured_bg.gif);
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 24px;
    WIDTH: 638px;
    PADDING-RIGHT: 24px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 232px;
    PADDING-TOP: 10px
}
.featured H1
{
    MARGIN: 20px 0px;
    COLOR: #fff
}
.featured UL
{
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 10px;
    FLOAT: left
}
.featured UL LI
{
    BORDER-BOTTOM: #000 3px solid;
    BORDER-LEFT: #000 3px solid;
    FLOAT: left;
    BORDER-TOP: #000 3px solid;
    MARGIN-RIGHT: 14px;
    BORDER-RIGHT: #000 3px solid
}
.featured UL LI.last
{
    MARGIN-RIGHT: 0px
}
.featured UL LI IMG
{
    FLOAT: left
}
.featured_prod
{
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 20px
}
.featured_prod .thumb
{
    TEXT-ALIGN: center;
    WIDTH: 240px;
    FLOAT: left
}
.featured_prod .thumb IMG
{
    WIDTH: 180px
}
.featured_prod .desc
{
    WIDTH: 460px;
    FLOAT: left
}
.featured_prod .desc H5
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 460px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 0px
}
.featured_prod .desc H5 A
{
    COLOR: #892d33
}
.rating
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 10px
}
.rating UL
{
    LIST-STYLE-TYPE: none;
    FLOAT: left
}
.rating UL LI
{
    FLOAT: left;
    MARGIN-RIGHT: 2px
}
UL.reviews
{
    PADDING-BOTTOM: 10px;
    LIST-STYLE-TYPE: none;
    FLOAT: left
}
UL.reviews LI
{
    BACKGROUND-IMAGE: url(../images/sep3.gif);
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    FLOAT: left;
    PADDING-TOP: 0px
}
UL.reviews LI.last
{
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
UL.reviews LI A
{
    COLOR: #000
}
.categories
{
    WIDTH: 100%;
    FLOAT: left
}
.categories UL
{
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 10px;
    WIDTH: 100%;
    FLOAT: left
}
.categories UL LI
{
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    WIDTH: 207px;
    PADDING-RIGHT: 0px;
    MARGIN-BOTTOM: 20px;
    FLOAT: left;
    MARGIN-RIGHT: 30px;
    PADDING-TOP: 10px
}
.categories UL LI.last
{
    MARGIN-RIGHT: 0px
}
.categories UL LI A.thumb
{
    BORDER-BOTTOM: #e4e4e4 2px solid;
    BORDER-LEFT: #e4e4e4 2px solid;
    WIDTH: 201px;
    FLOAT: left;
    HEIGHT: 177px;
    BORDER-TOP: #e4e4e4 2px solid;
    BORDER-RIGHT: #e4e4e4 2px solid
}
.categories UL LI A.thumb IMG
{
    WIDTH: 201px;
    HEIGHT: 177px
}
.categories UL LI A.title
{
    COLOR: #892d33
}
.categories UL LI H6
{
    MARGIN-BOTTOM: 10px
}
.categories UL LI P
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 200px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 5px
}
.categories UL LI A.view
{
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 0px;
    MARGIN-TOP: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 205px;
    PADDING-RIGHT: 0px;
    DISPLAY: inline-block;
    COLOR: #666666;
    BORDER-TOP: #ccc 1px solid;
    PADDING-TOP: 4px
}
.categories UL LI A.view:hover
{
    COLOR: #000
}
.featured_cat
{
    HEIGHT: 250px
}
.scrollingprod
{
    BORDER-BOTTOM: #e3e3e3 1px solid;
    PADDING-BOTTOM: 20px;
    MARGIN: 10px 0px 20px;
    WIDTH: 920px;
    FLOAT: left;
    HEIGHT: 230px
}
.anyClass
{
    POSITION: relative;
    MARGIN-TOP: 30px;
    WIDTH: 804px !important;
    FLOAT: left
}
.scrollingprod UL
{
    LIST-STYLE-TYPE: none;
    WIDTH: 2412px !important;
    FLOAT: left !important
}
.scrollingprod UL LI
{
    PADDING-BOTTOM: 0px;
    MARGIN-TOP: 8px;
    PADDING-LEFT: 0px;
    WIDTH: 188px !important;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    HEIGHT: 195px !important;
    OVERFLOW: hidden !important;
    MARGIN-RIGHT: 13px;
    PADDING-TOP: 0px
}
.scrollingprod UL LI A.prod
{
    FLOAT: left;
    COLOR: #000
}
.scrollingprod UL LI A.prod IMG
{
    BORDER-BOTTOM: #e4e4e4 3px solid;
    BORDER-LEFT: #e4e4e4 3px solid;
    WIDTH: 182px !important;
    HEIGHT: 161px !important;
    BORDER-TOP: #e4e4e4 3px solid;
    BORDER-RIGHT: #e4e4e4 3px solid
}
.scrollingprod UL LI A.prod:hover
{
    COLOR: #999
}
.scrollingprod A.prev
{
    BACKGROUND-IMAGE: url(../images/scroll_arrows.gif);
    MARGIN: 105px 18px 0px;
    WIDTH: 29px;
    DISPLAY: inline-block;
    BACKGROUND-REPEAT: no-repeat;
    FLOAT: left;
    HEIGHT: 29px;
    CURSOR: pointer
}
.scrollingprod A.next
{
    BACKGROUND-IMAGE: url(../images/scroll_arrows.gif);
    MARGIN: 105px 0px 0px;
    WIDTH: 29px;
    DISPLAY: inline-block;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    HEIGHT: 29px;
    CURSOR: pointer
}
.scrollingprod A.cart
{
    BACKGROUND-IMAGE: url(../images/cart.gif);
    MARGIN: 4px 0px 0px;
    PADDING-LEFT: 20px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    FLOAT: left
}
.scrollingprod A:hover
{
    COLOR: #000
}
#footer
{
    BACKGROUND-IMAGE: url(../images/botm.gif);
    PADDING-BOTTOM: 0px;
    MARGIN: 0px auto;
    PADDING-LEFT: 0px;
    WIDTH: 940px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: center top;
    PADDING-TOP: 0px
}
.aboutus
{
    BACKGROUND-IMAGE: url(../images/footer.gif);
    TEXT-ALIGN: justify;
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 246px;
    PADDING-LEFT: 10px;
    WIDTH: 230px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    FLOAT: left;
    PADDING-TOP: 10px
}
.aboutus H5
{
    BACKGROUND-IMAGE: url(../images/about.png);
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 35px;
    WIDTH: 180px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 0px 5px;
    MARGIN-BOTTOM: 5px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 9px
}
.aboutus P
{
    BORDER-BOTTOM: #dddddd 1px dotted;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    MARGIN-BOTTOM: 5px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 9px
}
.ourblog
{
    BACKGROUND-IMAGE: url(../images/footer.gif);
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 246px;
    PADDING-LEFT: 10px;
    WIDTH: 215px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    FLOAT: left;
    PADDING-TOP: 10px
}
.ourblog H5
{
    BACKGROUND-IMAGE: url(../images/blog.png);
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 35px;
    WIDTH: 180px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 0px 5px;
    MARGIN-BOTTOM: 5px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 9px
}
.ourblog UL
{
    LIST-STYLE-TYPE: none;
    MARGIN: 0px 5%;
    WIDTH: 90%;
    FLOAT: left;
    COLOR: #fff
}
.ourblog UL LI
{
    BORDER-BOTTOM: #fff 1px dotted;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px
}
.ourblog UL LI A
{
    COLOR: #fff;
    FONT-WEIGHT: bold
}
.joinnews
{
    BACKGROUND-IMAGE: url(../images/footer.gif);
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 246px;
    PADDING-LEFT: 20px;
    WIDTH: 180px;
    PADDING-RIGHT: 20px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    FLOAT: left;
    PADDING-TOP: 10px
}
.joinnews H5
{
    BACKGROUND-IMAGE: url(../images/newsletter.png);
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 35px;
    WIDTH: 180px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 0px 5px;
    MARGIN-BOTTOM: 5px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 9px
}
.joinnews P
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 5px
}
.joinnews UL
{
    LIST-STYLE-TYPE: none;
    WIDTH: 100%;
    FLOAT: left;
    COLOR: #fff
}
.joinnews UL LI
{
    MARGIN-BOTTOM: 10px
}
.joinnews UL LI INPUT.bar
{
    BACKGROUND-IMAGE: url(../images/subs.gif);
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: transparent;
    PADDING-LEFT: 5px;
    WIDTH: 162px;
    PADDING-RIGHT: 5px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 19px;
    BORDER-TOP: medium none;
    BORDER-RIGHT: medium none;
    PADDING-TOP: 1px
}
.joinnews UL LI INPUT.subs
{
    BORDER-BOTTOM: #004788 1px solid;
    BORDER-LEFT: #004788 1px solid;
    PADDING-BOTTOM: 3px;
    BACKGROUND-COLOR: #2e7fc4;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    COLOR: #fff;
    FONT-SIZE: 12px;
    BORDER-TOP: #004788 1px solid;
    CURSOR: pointer;
    BORDER-RIGHT: #004788 1px solid;
    PADDING-TOP: 1px
}
.joinnews UL LI INPUT.subs:hover
{
    BACKGROUND-COLOR: #004788
}
.contactus
{
    PADDING-BOTTOM: 10px;
    MIN-HEIGHT: 246px;
    PADDING-LEFT: 20px;
    WIDTH: 195px;
    PADDING-RIGHT: 20px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 10px
}
.contactus H5
{
    BACKGROUND-IMAGE: url(../images/contact.png);
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 35px;
    WIDTH: 180px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: 0px 3px;
    MARGIN-BOTTOM: 5px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 9px
}
.contactus UL
{
    PADDING-BOTTOM: 10px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    PADDING-TOP: 10px
}
.contactus UL LI
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 20px;
    WIDTH: 200px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left 50%;
    PADDING-TOP: 5px
}
.contactus UL LI.tel
{
    BACKGROUND-IMAGE: url(../images/tel.gif)
}
.contactus UL LI.email
{
    BACKGROUND-IMAGE: url(../images/email.gif)
}
.contactus UL LI.fax
{
    BACKGROUND-IMAGE: url(../images/fax.gif)
}
.contactus UL LI.skype
{
    BACKGROUND-IMAGE: url(../images/skype.gif)
}
.contactus UL LI A
{
    COLOR: #fff
}
.copyright_network
{
    BACKGROUND-IMAGE: url(../images/copyright.gif);
    PADDING-BOTTOM: 10px;
    MARGIN: 0px 0px 10px;
    PADDING-LEFT: 10px;
    WIDTH: 920px;
    PADDING-RIGHT: 10px;
    BACKGROUND-REPEAT: no-repeat;
    FLOAT: left;
    HEIGHT: 23px;
    COLOR: #666;
    PADDING-TOP: 10px
}
.copyright_network P
{
    FLOAT: left;
    PADDING-TOP: 3px
}
.copyright_network UL
{
    LIST-STYLE-TYPE: none;
    FLOAT: right;
    PADDING-TOP: 3px
}
.copyright_network UL LI
{
    FLOAT: left;
    MARGIN-RIGHT: 5px
}
.copyright_network UL LI A.top
{
    BACKGROUND-IMAGE: url(../images/top.gif);
    PADDING-RIGHT: 18px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%;
    COLOR: #666;
    MARGIN-LEFT: 10px
}
